body {
  background-color: rgb(255, 254, 247);
  font-family: 'Roboto';
}

Button {
  margin: 5px 10px 5px 10px;
  font-weight: 300;
  letter-spacing: .1rem
}

button:active {
  transform: scale3d(0.97, 0.97, 1);
}

.logo {
  margin-left: 1rem;
}

img.rest {
  background-color: black;
}
.avatar {
  background-color: rgb(255, 254, 247) !important;
  margin: 10px 10px 10px 10px;
}
p.vote-count {
  margin-left: 6px !important;
}
.collection-left {
  color: green;
  position: absolute;
  width: 42px;
  height: 42px;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}
.menu-item {
  min-height: 100px !important;
}
.favorite:hover {
  cursor: pointer;
}

.collection-left :nth-child(1):hover {
  cursor: pointer;
  color: green !important;
}
.collection-left :nth-child(3):hover {
  cursor: pointer;
  color: red !important;
}

.collection.with-header .collection-header {
  background-color: #455a64;
  color: #81d4fa;
}

h4 {
  font-weight: 200;
}

.title {
  padding-bottom: 2px;
  border-bottom: .25px solid #455a64;
  margin-bottom: 3px !important;
}

.desc {
  padding-top: 1em;
}

.navbar img {
  height: 64px;
}